body {
	color: hotpink;
	font-family: Arial;
}

#header {
	margin: 0 auto;
	text-align: center;
	background-color: lightblue;
}
span {
	font-family: Roboto;
	font-weight: bold;
	font-size: 20pt;
}

#headtext {
	margin: 5px;
	font-size: 16pt;
	font-family: Roboto;
}

h1 {
	font-family: Arial;
	color: salmon;
}
.button {
	background-color: green;
	margin: 2px;
	text-align: center;
	font-size: 20pt;
	color: white;
	text-decoration: none;
	font-family: Roboto;
	display: inline-block;
	padding: 10px 15px;
}
a {
	text-decoration: none;
}
.button:hover{
	background-color: indigo;
}
#footer {
	text-align: center;
	color: darkred;
}